/* ----------Color Scheme---------- */
/*
Nav Colors
Purple: #65286B;
Blue: #0068E8;
Green: #58AD17;
Yellow: #FFD014;
Orange: #FF8D00;
Red: #C72702;


*/

body {
  background-color: rgb(129, 211, 237);
}

header {
  text-align: center;
}

.header-image {
  padding-top: 20px;
  padding-bottom: 15px;
}

.top-buffer {
  height: 45px;
}

.top-bar {
  background-color: rgba(255,255,255,0.95);
  border-bottom: solid rgb(6, 68, 145) 2px;
}

.top-bar-heading {
  color: #5786c1;
}

.footer-div {
  border-top: solid rgb(6, 68, 145) 2px;
  border-bottom: solid rgb(6, 68, 145) 2px;
}

.footer-text {
  float: right;
}

.nav-button {
  border: solid white 3px;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  position: relative;
  padding: 1.5%;
  background-color: #5786c1;
/*  height: 25px;*/
}

.nav-button:hover {
  background-color: white;
  border: solid black 3px;
}

.nav-button a {
  color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.link-text {
  color: black;
}

.link-text:hover {
  color: rgb(255, 180, 38);
}

.custom-form {
  border: solid white 3px;
  background-color: #5786c1;
  padding: 20px;
  display: none;
}

.bold {
  font-weight: bold;
}

.custom-input {
  margin-top: 20px;
}

.custom-link {
  font-weight: bold;
  padding-top: 15px;
}

.light-grey {
  color: #6E7476;
}

.submit {
  text-align: center;

}

.submit-button {
  background-color: #6E7476;
  border: solid white 2px;
  width: 115px;
  height: 30px;
}

.label {
  /*background-color: different blue;*/
}

.grey {
  border: solid white 3px;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  background-color: #6E7476;
}

.suggestion-heading {
  padding-top: 30px;
  text-align: center;
  display: none;
  font-family: 'Hammersmith One', sans-serif;
}

.welcome-heading {
  padding-top: 20px;
  text-align: center;
  font-family: 'Hammersmith One', sans-serif;
}

.margin {
  margin-top: 10px;
  margin-bottom: 20px;
}

.profile-image {
  border: solid black 3px;
  border-radius: 3px;
  margin-top: 12px;
  margin-left: 10px;
}

.twitter-info-text {
  font-size: .8em;
  text-align: center;
}

.user-name-text {
  font-size: 1em;
  text-align: center;
  /*font-weight: bold;*/
  text-decoration: underline;

}

.user-info-number {
  /*font-weight: bold;*/
}

.user-box {
  border: solid black 4px;
  border-radius: 5px;
  padding: 1%;
  background-color: rgba(255,255,255,0.5);
  box-shadow:         5px 5px 4px 0px rgba(50, 50, 50, 0.75);
  /*background-image: url("http://pbs.twimg.com/profile_background_images/479400855842455552/suMY4UI7.jpeg");
  opacity: .3;*/
}

