<div class="container">
  <div class="row">
    <div class="large-12 medium-12 columns">
      <h3 class="suggestion-heading">Follow Suggestions for that category:</h3>
    </div>
  </div>
  <div class="row">
    <div class="large-2 medium-2 columns"></div>
    <div class="large-8 medium-8 columns">
      <h3 class="suggestion-heading">Welcome to Who To Follow. Pick a category to see suggestions on Twitter users to follow.</h3>
    </div>
    <div class="large-2 medium-2 columns"></div>
  </div>

  <div class="row">
    <div class="large-6 medium-6 small-centered columns">
      <div class="row">
        <div class="large-4 medium-4 columns">
          <h4 class="twitter-info-text">1. SamDavid87</h4>
        </div>
        <div class="large-4 medium-4 columns">
          <h4 class="twitter-info-text">50 Tweets</h4>
        </div>
        <div class="large-4 medium-4 columns">
          <h4 class="twitter-info-text">SamDavid87</h4>
        </div>
      </div>
      <div class="row">
        <div class="large-4 medium-4 columns">
          <h4 class="twitter-info-text">2. SamDavid87</h4>
        </div>
        <div class="large-4 medium-4 columns">
          <h4 class="twitter-info-text">50 Tweets</h4>
        </div>
        <div class="large-4 medium-4 columns">
          <h4 class="twitter-info-text">SamDavid87</h4>
      </div>
      <div class="row">
        <div class="large-4 medium-4 columns">
          <h4 class="twitter-info-text">3. SamDavid87</h4>
        </div>
        <div class="large-4 medium-4 columns">
          <h4 class="twitter-info-text">50 Tweets</h4>
        </div>
        <div class="large-4 medium-4 columns">
          <h4 class="twitter-info-text">SamDavid87</h4>
      </div>
      </div>
      </div>
    </div>
  </div>


</div>
