<!DOCTYPE html>
<html lang="en">
<head>

  <link href='https://fonts.googleapis.com/css?family=Orbitron:400,500,700|Roboto:400,500,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/foundation.css">
  <link rel="stylesheet" href="/css/button.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/foundation.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header class="row">
    <div class="large-12 medium-12 columns">
      <h1 class="page-title">#WHO TO FOLLOW</h1>
    </div>
  </header>
  <nav>
    <div class="row">
      <div class="large-2 medium-2 columns  nav-button yellow">
        <a href="/tweets/search/tech"class="">Technology</a>
      </div>
      <div class="large-2 medium-2 columns nav-button blue">
        <a href="/tweets/search/music" class="">Music</a>
      </div>
      <div class="large-2 medium-2 columns nav-button green">
        <a href="/tweets/search/sports" class="">Sports</a>
      </div>
      <div class="large-2 medium-2 columns nav-button yellow">
        <a href="/tweets/search/photo" class="">Photography</a>
      </div>
      <div class="large-2 medium-2 columns nav-button orange">
        <a href="/tweets/search/entertainment" class="">Entertainment</a>
      </div>
      <div class="large-2 medium-2 columns nav-button red">
        <a href="/tweets/search/news" class="">News</a>
      </div>
    </div>
    <div class="row">
      <div class="large-2 medium-2 columns nav-button blue">
        <a href="/tweets/search/fashion" class="">Fashion</a>
      </div>
      <div class="large-2 medium-2 columns nav-button green">
        <a href="/tweets/search/food" class="">Food/Drink</a>
      </div>
      <div class="large-2 medium-2 columns nav-button yellow">
        <a href="/tweets/search/television" class="">Television</a>
      </div>
      <div class="large-2 medium-2 columns nav-button orange">
        <a href="/tweets/search/movies" class="">Movies</a>
      </div>
      <div class="large-2 medium-2 columns nav-button red">
        <a href="/tweets/search/family" class="">Family</a>
      </div>
      <div class="large-2 medium-2 columns nav-button purple">
        <a href="/tweets/search/art" class="">Art/Design</a>
      </div>
    </div>
    <div class="row">
      <div class="large-2 medium-2 columns nav-button green">
        <a href="/tweets/search/business" class="">Business</a>
      </div>
      <div class="large-2 medium-2 columns nav-button yellow">
        <a href="/tweets/search/finance" class="">Finance</a>
      </div>
      <div class="large-2 medium-2 columns nav-button orange">
        <a href="/tweets/search/health" class="">Health</a>
      </div>
      <div class="large-2 medium-2 columns nav-button red">
        <a href="/tweets/search/books" class="">Books</a>
      </div>
      <div class="large-2 medium-2 columns nav-button purple">
        <a href="/tweets/search/science" class="">Science</a>
      </div>
      <div class="large-2 medium-2 columns nav-button blue">
        <a href="/tweets/search/faith" class="">Faith</a>
      </div>
    </div>
    <div class="row">
      <a class="">
        <div class="large-2 medium-2 columns nav-button yellow">
        Government
        </div>
      </a>
      <div class="large-2 medium-2 columns nav-button orange">
        <a href="/tweets/search/social_good" class="">Social Good</a>
      </div>
      <div class="large-2 medium-2 columns nav-button red">
        <a href="/tweets/search/other" class="">Other</a>
      </div>
      <div class="large-2 medium-2 columns nav-button purple">
        <a href="/tweets/search/travel" class="">Travel</a>
      </div>
      <div class="large-2 medium-2 columns nav-button blue">
        <a href="/tweets/search/gaming" class="">Gaming</a>
      </div>
      <div class="large-2 medium-2 columns nav-button green">
        <a href="/tweets/search/tech" class="">Other</a>
      </div>
    </div>
    <div class="row">
      <div class="large-2 medium-2 columns nav-button orange">
        <a href="/tweets/search/nba" class="">NBA</a>
      </div>
      <div class="large-2 medium-2 columns nav-button red">
        <a href="/tweets/search/nfl" class="">NFL</a>
      </div>
      <div class="large-2 medium-2 columns nav-button purple">
        <a href="/tweets/search/mlb" class="">MLB</a>
      </div>
      <div class="large-2 medium-2 columns nav-button blue">
        <a href="/tweets/search/nascar" class="">NASCAR</a>
      </div>
      <div class="large-2 medium-2 columns nav-button green">
        <a href="/tweets/search/nhl" class="">NHL</a>
      </div>
      <div class="large-2 medium-2 columns nav-button yellow">
        <a href="/tweets/search/tech" class="">PGA</a>
      </div>
    </div>
    <div class="row">
      <div class="large-12 medium-12 columns nav-button grey">
        <a href="/tweets/search/tech" class="">Custom</a>
      </div>
    </div>
  </nav>
  <%= yield %>
</body>
</html>