<!DOCTYPE html>
<html lang="en">
<head>

  <link href='https://fonts.googleapis.com/css?family=Orbitron:400,500,700|Roboto:400,500,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/foundation.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/foundation.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header class="row">
    <div class="large-12 medium-12 columns">
      <h1 class="page-title">#WHO TO FOLLOW</h1>
    </div>
  </header>
  <nav>
    <div class="row">
      <div class="large-2 medium-2 columns nav-button purple">
        <a class="">Technology</a>
      </div>
      <div class="large-2 medium-2 columns nav-button blue">
        <a class="">Music</a>
      </div>
      <div class="large-2 medium-2 columns nav-button green">
        <a class="">Sports</a>
      </div>
      <div class="large-2 medium-2 columns nav-button yellow">
        <a class="">Photography</a>
      </div>
      <div class="large-2 medium-2 columns nav-button orange">
        <a class="">Entertainment</a>
      </div>
      <div class="large-2 medium-2 columns nav-button red">
        <a class="">News</a>
      </div>
    </div>
    <div class="row">
      <div class="large-2 medium-2 columns nav-button blue">
        <a class="">Fashion</a>
      </div>
      <div class="large-2 medium-2 columns nav-button green">
        <a class="">Food/Drink</a>
      </div>
      <div class="large-2 medium-2 columns nav-button yellow">
        <a class="">Television</a>
      </div>
      <div class="large-2 medium-2 columns nav-button orange">
        <a class="">Movies</a>
      </div>
      <div class="large-2 medium-2 columns nav-button red">
        <a class="">Family</a>
      </div>
      <div class="large-2 medium-2 columns nav-button purple">
        <a class="">Art/Design</a>
      </div>
    </div>
    <div class="row">
      <div class="large-2 medium-2 columns nav-button green">
        <a class="">Business</a>
      </div>
      <div class="large-2 medium-2 columns nav-button yellow">
        <a class="">Finance</a>
      </div>
      <div class="large-2 medium-2 columns nav-button orange">
        <a class="">Health</a>
      </div>
      <div class="large-2 medium-2 columns nav-button red">
        <a class="">Books</a>
      </div>
      <div class="large-2 medium-2 columns nav-button purple">
        <a class="">Science</a>
      </div>
      <div class="large-2 medium-2 columns nav-button blue">
        <a class="">Faith</a>
      </div>
    </div>
    <div class="row">
      <a class="">
        <div class="large-2 medium-2 columns nav-button yellow">
        Government
        </div>
      </a>
      <div class="large-2 medium-2 columns nav-button orange">
        <a class="">Social Good</a>
      </div>
      <div class="large-2 medium-2 columns nav-button red">
        <a class="">Other</a>
      </div>
      <div class="large-2 medium-2 columns nav-button purple">
        <a class="">Travel</a>
      </div>
      <div class="large-2 medium-2 columns nav-button blue">
        <a class="">Gaming</a>
      </div>
      <div class="large-2 medium-2 columns nav-button green">
        <a class="">Other</a>
      </div>
    </div>
    <div class="row">
      <div class="large-2 medium-2 columns nav-button orange">
        <a class="">NBA</a>
      </div>
      <div class="large-2 medium-2 columns nav-button red">
        <a class="">NFL</a>
      </div>
      <div class="large-2 medium-2 columns nav-button purple">
        <a class="">MLB</a>
      </div>
      <div class="large-2 medium-2 columns nav-button blue">
        <a class="">NASCAR</a>
      </div>
      <div class="large-2 medium-2 columns nav-button green">
        <a class="">NHL</a>
      </div>
      <div class="large-2 medium-2 columns nav-button yellow">
        <a class="">PGA</a>
      </div>
    </div>
    <div class="row">
      <div class="large-12 medium-12 columns nav-button grey">
        <a class="">Custom</a>
      </div>
    </div>
  </nav>
  <%= yield %>
</body>
</html>